* {
  padding: 0%;
  margin: 0%;
}

body .hamburger {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 2rem;
}
body #main {
  width: 95%;
}
body #sideBar {
  width: 25%;
  height: 100vh;
  display: inline-block;
}
body #sideBar .emailModule {
  background-color: #d9d9d9;
  font-size: 1.5rem;
  padding: 5px;
  /* border: 2px solid yellow; */
  color: #000000;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  padding-right: 10px;
}
body .rightBorder {
  rotate: 180deg;
  float: right;
  height: 106vh;
  display: inline;
  position: relative;
  top: -47px;
}
body .fa-envelope-circle-check {
  border-radius: 50%;
  position: relative;
  height: 30px;
  width: 39px;
  background-color: white;
  border: 2px solid black;
  padding-left: 5px;
  padding-top: 5px;
}
body .Audoience-Inside {
  margin: 15px;
  background-color: #d9d9d9;
  margin-top: 8%;
  text-align: center;
  font-size: 1.5rem;
}
body .Audoience-Header {
  margin-left: 39%;
  margin-bottom: 15px;
}
body #arrowRight {
  float: right;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
body .fa-people-group {
  border-radius: 50%;
  position: relative;
  height: 25px;
  width: 30px;
  background-color: white;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-right: 5px;
}
body .Compaign-Inside {
  margin: 15px;
  background-color: #d9d9d9;
  margin-top: 8%;
  text-align: center;
  font-size: 1.5rem;
}
body .Compaign-Header {
  margin-left: 39%;
  margin-bottom: 15px;
}
body .fa-bullhorn {
  border-radius: 50%;
  position: relative;
  height: 25px;
  width: 30px;
  background-color: white;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-right: 5px;
}
body #contentSection {
  width: 74%;
  display: inline-block;
  vertical-align: top;
}
body #importContact {
  float: right;
  margin-right: 50px;
  padding: 7px;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}
body .contentSectionBorder {
  width: 100%;
  margin-top: 5%;
}
body .internCurve {
  margin: 20px;
  color: #939393;
  font-size: 1.2rem;
}
body .internCurve > button {
  padding: 2px;
  color: #939393;
}
body form {
  margin: 10px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
}
body input {
  width: 35%;
  padding: 3px;
  margin-bottom: 10px;
  border: none;
  background-color: #ebebeb;
}
body .lableF {
  width: 8%;
  display: inline-block;
  margin-left: 20px;
  font-size: 1rem;
}
body h4 {
  color: #535353;
}
body h4 > span {
  margin-right: 10px;
}
body h4 > span:hover {
  color: red;
  cursor: pointer;
}
body .formBtn {
  text-align: center;
  margin: 20px;
}
body .formBtn Button {
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
body .formBtn Button:hover {
  background-color: #d9d9d9;
}
body table {
  border-collapse: collapse;
  margin: 20px;
}
body th {
  width: 20%;
}
body tr,
body td {
  text-align: center;
}
body tr:nth-child(2) td:nth-child(2) {
  text-decoration: underline;
}
body tr:nth-child(2n) {
  background-color: #f4f4f4;
}
body tr:nth-child(0) {
  background-color: #ebebeb;
}
body .pagination span {
  /* border: 2px solid black; */
  /* margin-left: 86%; */
  display: inline-block;
  text-align: center;
  width: 20px;
  background-color: #d9d9d9;
  margin-left: 10px;
}
body .pagination a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
